.action {
  animation-duration: 1s;
  animation-name: down-up;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 1;
}


@keyframes down-up {
  0% {
    opacity: 0;
    transform: translate(0%, 30%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes left-right {
  0% {
    transform-origin: 50% 0;
    transform: translate(-100%, 0%);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: translate(0%, 0%);
  }
}

@keyframes right-left {
  0% {
    opacity: 0;
    transform-origin: 50% 0;
    transform: translate(100%, 0%);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: translate(0%, 0%);
  }
}