.title {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-family: "bebas neue", bebas, helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.1em;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}
.title:before, .title:after {
  display: inline-block;
  width: 50px;
  margin: 0 10px;
  content: "";
  border-bottom: 2px solid rgb(102, 119, 136);
}

.text-s {
  margin: 0;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 15px;
  color: rgb(102, 119, 136);
  text-align: center;
  line-height: 1.5;
}

.text-m {
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.35em;
  color: rgb(102, 119, 136);
  text-align: center;
  line-height: 1.5;
  max-width: 1028px;
  margin: 0 auto;
  font-weight: 400;
}

.text-l {
  margin: 0;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.6em;
  color: rgb(102, 119, 136);
  font-weight: 400;
}

.wrap-text {
  width: 70%;
  margin: 0 auto;
}

.font-white {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: center;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.action {
  animation-duration: 1s;
  animation-name: down-up;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 1;
}

@keyframes down-up {
  0% {
    opacity: 0;
    transform: translate(0%, 30%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes left-right {
  0% {
    transform-origin: 50% 0;
    transform: translate(-100%, 0%);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: translate(0%, 0%);
  }
}
@keyframes right-left {
  0% {
    opacity: 0;
    transform-origin: 50% 0;
    transform: translate(100%, 0%);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 0;
    transform: translate(0%, 0%);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background: white;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  zoom: 4;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}

.logo__image {
  display: block;
  margin: 0 auto;
  height: 100px;
}

.header--sticky {
  position: sticky;
  top: 0;
  min-height: 24px;
}
.header__bottom {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -22px;
  border: 10px solid white;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  transform: translate(-50%);
}
.header__bottom-mini-logo {
  position: relative;
  height: 30px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 10px 40px 30px;
}
.nav__item {
  margin: 5px 16px;
  padding-left: 0;
  text-transform: uppercase;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 15px;
  color: rgb(102, 119, 136);
  list-style-type: none;
}
.nav__item a {
  color: rgb(102, 119, 136);
  text-decoration: none;
}
.nav__item a:hover {
  color: rgb(138, 155, 170);
}

.section-1 {
  position: relative;
}
.section-1__image {
  width: 100%;
}
.section-1__description {
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.35em;
  color: rgb(102, 119, 136);
}

.section-1--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.35em;
  color: rgb(102, 119, 136);
  padding: 0 15px;
}
.section-1--flex__item {
  padding-left: 0;
  list-style-type: none;
  word-wrap: break-word;
  text-align: center;
  font-size: 15px;
  width: 25%;
  min-width: 140px;
  max-width: 250px;
  margin: 0;
}

.section-2 {
  position: relative;
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 30px 30px 50px;
  overflow: hidden;
}
.section-2__image {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 700px;
  margin: 30px 0 10px 0;
}
.section-2__img-caption {
  font-size: 15px;
}

.section-3 {
  position: relative;
}
.section-3__title {
  color: rgb(94, 149, 22);
  margin: 0 20px 10px;
}
.section-3__image {
  height: 290px;
}
.section-3--flex {
  display: flex;
  margin: 30px auto 0;
  justify-content: right;
  max-width: 800px;
}
.section-3--flex.action:nth-child(even) {
  animation-name: right-left;
}
.section-3--flex.action {
  animation-name: left-right;
}
.section-3__description {
  text-align: left;
  margin: 0 20px 0;
}

.section-4 {
  position: relative;
  background-image: url("/img/section-4-backgroung.jpg");
  padding-bottom: 80px;
}
.section-4:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.39);
  width: 100%;
  height: 100%;
  z-index: 0;
}
.section-4--title {
  margin: 25px auto 10px;
}
.section-4--main-title {
  padding-top: 80px;
}
.section-4--font-white {
  z-index: 1;
  text-align: left;
}
.section-4--font-white:before, .section-4--font-white:after {
  border-color: rgb(255, 255, 255);
}
.section-4--text {
  text-align: center;
  width: 76%;
  margin: 0 auto 25px;
}

.section-5__image {
  width: 100%;
}
.section-5--title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-5--font-green {
  color: rgb(94, 149, 22);
  font-style: italic;
  font-size: 16px;
  margin-bottom: 5px;
}
.section-5--word {
  font-weight: 400;
}
.section-5-bottom {
  margin-bottom: 100px;
}
.section-5--bottom-text {
  margin-bottom: 25px;
}

.section-5--flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.35em;
  color: rgb(102, 119, 136);
  width: 100%;
  padding: 0;
}
.section-5--flex__item {
  list-style-type: none;
  word-wrap: break-word;
  text-align: center;
  font-size: 15px;
  width: 25%;
  min-width: 140px;
  max-width: 250px;
  margin: 0;
  padding: 10px 10px;
}
.section-5--flex__item p {
  position: relative;
  z-index: 3;
}
.section-5--flex__item:nth-child(2) img {
  animation-duration: 1.3s;
}
.section-5--flex__item:nth-child(3) img {
  animation-duration: 1.6s;
}
.section-5--flex__item:nth-child(4) img {
  animation-duration: 1.9s;
}

.section-5--flex-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "source sans pro", helvetica, sans-serif;
  font-size: 1.35em;
  color: rgb(102, 119, 136);
  width: 100%;
  padding: 0;
  margin-bottom: 70px;
}
.section-5--flex-1__item {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  min-width: 100px;
  max-width: 450px;
  margin: 30px 30px 15px;
  padding: 0;
}

.section-6 {
  width: 70%;
  margin: 5px auto 40px;
}
.section-6--grid {
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  justify-content: space-evenly;
}
.section-6 img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 10%;
}
.section-6 img:hover {
  transform: scale(1.6);
  transition-duration: 1s;
  z-index: 1;
}

.section-7 {
  position: relative;
  background-image: url("/img/section-6-background.PNG");
  margin: 0 auto 80px;
  padding: 0 20px;
}
.section-7__image {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 80px 0 40px;
  border-radius: 50%;
}
.section-7--word {
  text-decoration: underline;
}
.section-7--btn {
  background-color: rgb(102, 119, 136);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 28px;
  margin: 35px auto 80px;
  border: 0 solid;
  border-radius: 100px;
}
.section-7--btn:hover {
  background-color: rgb(138, 155, 170);
}

.footer {
  margin-bottom: 70px;
}
.footer--input {
  padding: 10px 24px;
  margin: 35px 8px 80px;
  border: 1px solid;
  border-radius: 4px;
  text-align: left;
}
.footer--btn {
  background-color: rgb(102, 119, 136);
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 24px;
  margin: 70px 8px 180px;
  border: 0 solid #bbb;
  border-radius: 9px;
}
.footer--btn:hover {
  background-color: rgb(138, 155, 170);
}

/*# sourceMappingURL=style.css.map */
