$font-gray-main: rgb(102, 119, 136);
$font-gray-hover: rgb(138, 155, 170);
$font-black-head: rgb(51, 51, 51);
$font-green-head: rgb(94 149 22);
$font-white-main: rgb(255, 255, 255);
$background-main: rgb(238, 238, 238);
$font-family-main: "bebas neue", bebas, helvetica, sans-serif;
$font-family-text: "source sans pro", helvetica, sans-serif;
$font-size-s: 15px;
$font-size-m: 1.35em;
$font-size-l: 1.6em;
$font-size-main: 2.1em;